.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.about {
    font-size: 20px;
    align-content: center;
    border-color: black;
    padding: 20px;
}


/* .about:hover-within {
    border-bottom: 3px solid purple;
} */


.about a {
    padding: 24px 10px;
    text-decoration: none;
    color: black;
}

.about a:hover {
    border-bottom: 3px solid purple;
}

.text {
    font-size: 30px;
    padding: 20px;
}